@charset "UTF-8";
/*todos os media query*/

/*typical devices Breakpoints
----------------------------
pequenas telas:ate 600px
celular:de 600px ate 768
tablet:768px ate 992
desktop:992px ate 1200px
grandes telas:accima de 1200px
*/

@media print {
    * {
        font-family: 'Courier New', Courier, monospace ;
    }
    body {background-image: url(../imagens/back-print.jpg) ;
    
     
       }
       main {
        border: 2px solid black;
       }

       main h1 {
        text-shadow: none;
    color: black;
       }
       main::after {
        content:"chupa meu bilau" ;
       }
        img#phone {display:none;}
        img#tablet {display:none;}
        img#print {display:block;}
        img#pc {display: none;}
        img#tv {display: none;}
   
   
}

@media screen and (min-width:768px) and (max-width:992px) { /*TABLET*/
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
        img#phone {display:none;}
        img#tablet {display:block;}
        img#print {display: none;}
        img#pc {display: none;}
        img#tv {display: none;}
}

@media screen and (min-width:992px) and (max-width:1200px) {  /*DESKTOP*/
    body {background-image: url(../imagens/back-pc.jpg);
}
        img#phone {display:none;}
        img#tablet {display:none;}
        img#print {display: none;}
        img#pc {display:block;}
        img#tv {display: none;}

}
@media screen and (min-width:1200px) {  /*TELAS GRANDES*/
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone {display:none;}
    img#tablet {display:none;}
    img#print {display: none;}
    img#pc {display:none;}
    img#tv {display:block;}
    
    main {
        width: 700px;
    }
}
